{% load static %}
<script defer src="{% static 'alpinejs/min.js' %}"></script>


<div id="activities-table">
    <div class="row p-3">
        <form class="row gy-2 gx-3 align-items-center"
              hx-get="{% url 'activities:filter-activities' %}"
              hx-target="#activities-list"
              hx-swap="innerHTML"
        >
            <div class="col-auto">
                <select class="form-select" id="autoSizingSelect">
                    <option value="1">5</option>
                    <option value="2">10</option>
                    <option value="3">20</option>
                </select>
            </div>
            <div class="col-auto">
                <div class="input-group">
                    <input class="form-control" id="contract-number" name="contract_number" type="text" placeholder="Số hợp đồng">
                </div>
            </div>
            <div class="col-auto">
                <input class="form-control" id="action-code" name="action_code" type="text" placeholder="Action code">
            </div>
            <div class="col-auto">
                <input class="form-control" id="contacted-person" name="contacted_person" type="text" placeholder="Contacted person">
            </div>
            <div class="col-auto">
                <input class="form-control datetimepicker" id="datepicker-from" name="from_date" type="text" placeholder="From" data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}' />
            </div>
            <div class="col-auto">
                <input class="form-control datetimepicker" id="datepicker-to" name="to_date" type="text" placeholder="To" data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}' />
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="submit"><span class="fas fa-search"></span></button>
            </div>
        </form>
    </div>
    <div class="table-responsive" id="activities-list">
        {% include "home/activities/partials/activities_list.html" %}
    </div>

    <!-- paginator -->
    <div class="d-flex justify-content-between mt-3">
        <span>Trang {{ activities.number }} / {{ activities.paginator.num_pages }}</span>
        <div class="d-flex">
            {% if activities.has_previous %}
                <a
                    class="page-link"
                    hx-get="{% url 'activities:activities-page' %}?page=1"
                    hx-target="#nav-content"
                    hx-swap="innerHTML"
                    hx-trigger="click"
                >
                    <span class="fas fa-angle-double-left"></span></a>

                <a
                    class="page-link"
                    hx-get="{% url 'activities:activities-page' %}?page={{ previous_page_number }}"
                    hx-target="#nav-content"
                    hx-swap="innerHTML"
                    hx-trigger="click"
                >
                    <span class="fas fa-chevron-left"></span>
                </a>
            {% endif %}

            {% for num in activities.paginator.page_range %}
                {% if num == activities.number %}
                    <span class="page-link active">{{ num }}</span>
                {% elif num == 1 or num == activities.paginator.num_pages or num >= activities.number|add:"-1" and num <= activities.number|add:"1" %}
                    <a class="page-link"
                       hx-get="{% url 'activities:activities-page' %}?page={{ num }}"
                       hx-target="#nav-content"
                       hx-swap="innerHTML"
                       hx-trigger="click"
                    >
                        {{ num }}
                    </a>
                {% elif num == activities.number|add:"-2" or num == activities.number|add:"2" %}
                    <span class="page-link">...</span>
                {% endif %}
            {% endfor %}

            {% if activities.has_next %}
                <a
                    class="page-link"
                    hx-get="{% url 'activities:activities-page' %}?page={{ activities.next_page_number }}"
                    hx-target="#nav-content"
                    hx-swap="innerHTML"
                    hx-trigger="click"
                >
                    <span class="fas fa-chevron-right"></span>
                </a>
                <a
                    class="page-link"
                    hx-get="{% url 'activities:activities-page' %}?page={{ activities.next_page_number }}"
                    hx-target="#nav-content"
                    hx-swap="innerHTML"
                    hx-trigger="click"
                >
                    <span class="fas fa-angle-double-right"></span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
<script>
    flatpickr("#datepicker-from", {
        disableMobile: true,
        dateFormat: "d/m/Y"
    });
    flatpickr("#datepicker-to", {
        disableMobile: true,
        dateFormat: "d/m/Y"
    });

</script>

