{% include "./form-title.html" with title="Phone Information" %}

<form class="needs-validation" hx-post="{% url 'campaign:phone-info-form' %}">
    {% csrf_token %}
    <div
        style="padding-right: 2rem;padding-left: 2rem;"
        class="row mt-3">
  <!-- Left Column -->
        <div class="col-md-6">
            {% include "../fields/text-input.html" with field=form.spouse_name %}
            {% include "../fields/text-input.html" with field=form.contact_name_1 %}
            {% include "../fields/text-input.html" with field=form.contact_relationship_1 %}
            {% include "../fields/text-input.html" with field=form.contact_name_2 %}
            {% include "../fields/text-input.html" with field=form.contact_relationship_2 %}
        </div>

<!-- Right Column -->
        <div class="col-md-6">
            {% include "../fields/text-input.html" with field=form.family_book %}
            {% include "../fields/text-input.html" with field=form.other_contact_name %}
            {% include "../fields/text-input.html" with field=form.other_contact_name_2 %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


