<div class="mb-5 input-group has-validation">
    <div class="form-floating">
        <input
            class="form-control"
            id="floatingEventInput_{{ field.name }}"
            type="text"
            name="{{ field.name }}"
            value="{{ field.value|default:'' }}"
            placeholder="{{ field.placeholder|default:'' }}"
            {% if field.field.required %}required{% endif %}
        />
        <label for="floatingEventInput_{{ field.name }}">
            {{ field.label }}
            {% if field.field.required %}<span class="text-danger">*</span>{% endif %}
        </label>
        <p style="display: block; position: absolute; bottom: -35px; left: 10px;" class="invalid-feedback">{{ field.errors.0 }}</p>
    </div>
</div>

